<div class="wrap-content container" style="margin-left:220px;"  id="container">  
<div ng-include="templateUrls.headerPage"></div>
<div class="content_part">
<div class="col-md-1">
	
	<!--the left part-->
	<div class="left_menu">
		<div class="page_1_left_part_1" style="height: 150px;">
			<div class="left_part_lines">
				<div class="page_1_right_part_top_line" style="display: block;">
				<div class="top_line_1" style="height: 1px; width: 0px; display: block; background: rgb(33, 56, 56);"></div></div>
					<div class="page_1_right_part_middle_line" style="height: 79px; display: block;"></div>
					<div class="page_1_right_part_bottom_line" style="width: 28px; display: block;"></div>
					
			</div>
			<div class="page_1_right_part_index_1">
				<div class="page_1_class" id="menu1" style="color: rgb(76, 76, 76);" ng-click="menu_clike('menu1','项目分类')">团队成员</div>
				<div id="menu2" class="page_1_class" style="color: rgb(132, 132, 132);" ng-click="menu_clike('menu2','商业综合')">团队活动</div>
						
			</div>
		</div>
	</div>

</div>

 <div class="col-md-10" style="margin-left:50px;">

 	</div>
</div>
<div ng-include="templateUrls.footerPage"></div>
</div>
  
