<div ng-controller="newslistController">
							<h4 class="pink">
								<i class="ace-icon fa fa-hand-o-right icon-animated-hand-pointer blue"></i>
								<button class="btn btn-sm btn-warning" ng-click="clickToOpen()" ><i class="ace-icon fa fa-plus"></i>添加新闻</button>

								<button class="btn btn-sm btn-info" ng-click="AutoLoad()" ><i class="ace-icon fa fa-refresh bigger-130"></i></button>
							</h4>

							<div class="hr hr-18 dotted hr-double"></div>

							<div class="row">
								<div class="col-xs-12">
									<table datatable dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped table-bordered table-hover">
								</div>
							</div>

							</div><!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->






		


		
	

	