<div class="row widget-box" style="margin-top:20px;">
<div class="row " style="margin:15px;">

	<div class="col-md-12 ">
		<form class="form-horizontal" role="form" 
		method="POST" 
		enctype="multipart/form-data" 
		data-ng-app="scotchApp" 
		data-ng-controller="newsinfoController" 
		data-file-upload="options" 
		data-ng-class="{'fileupload-processing': processing() || loadingFiles}"
		novalidate="novalidate">
			<div class="row">
				<label class="col-md-2 control-label no-padding-right" for="form-field-1"> 新闻标题：</label>
				<div class="col-md-10">
					<input type="text" id="form-field-1" aria-required="true" ng-model="model.newstitle" class="form-control" />
				</div>
				
			</div>

			<div class="row">
				<label class="col-md-2 control-label no-padding-right" for="form-field-9">  设计说明： </label>
					<div class="col-md-9"></div>
			</div>
			<div class="row">
				<text-angular-toolbar name="toolbar"></text-angular-toolbar>
				<div text-angular ng-model="model.newscontent"  ta-target-toolbars='toolbar'></div>
			</div>
	
			
			<div class="row" style="margin-top:10px;">
				
		        <div class="row fileupload-buttonbar" >
		        	 
		            <div class="col-md-12" style="margin-left:15px;">
		                <!-- The fileinput-button span is used to style the file input field as button -->
		                <span class="btn btn-success fileinput-button btn-xs" ng-class="{disabled: disabled}">
		                    <i class="glyphicon glyphicon-plus"></i>
		                    <span>添加文件...</span>
		                    <input id="fileupload" type="file" name="files[]" multiple ng-disabled="disabled">
		                </span>
		                <button type="button" class="btn btn-primary start btn-xs" data-ng-click="submit()">
		                    <i class="glyphicon glyphicon-upload"></i>
		                    <span>开始上传</span>
		                </button>
		                <button type="button" class="btn btn-warning cancel btn-xs" data-ng-click="cancel()">
		                    <i class="glyphicon glyphicon-ban-circle"></i>
		                    <span>取消上传</span>
		                </button>
		                <!-- The global file processing state -->
		                <span class="fileupload-process"></span>
		            </div>
		           
		        </div>
        
		         <table class="table files ng-cloak" style="margin-left:15px;">
		            <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
		                <td data-ng-switch data-on="!!file.thumbnailUrl">
		                    <div class="preview" data-ng-switch-when="true">
		                        <img data-ng-src="{{file.thumbnailUrl}}" alt="">
		                    </div>
		                    <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
		                </td>
		                <td>
		                    <p class="name" data-ng-switch data-on="!!file.url">
		                        
		                        <span data-ng-switch-default>{{file.name}}</span>
		                    </p>
		                    <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
		                </td>
		                <td>
		                    <p class="size">{{file.size | formatFileSize}}</p>
		                    <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
		                </td>
		                <td>
		                    <button type="button" class="btn btn-primary start btn-xs" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
		                        <i class="glyphicon glyphicon-upload"></i>
		                        <span>开始上传</span>
		                    </button>
		                    <button type="button" class="btn btn-warning cancel btn-xs" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
		                        <i class="glyphicon glyphicon-ban-circle"></i>
		                        <span>取消上传</span>
		                    </button>
		                  
		                    <button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
		                        <i class="glyphicon glyphicon-trash"></i>
		                        <span>删除</span>
                    		</button>

		                </td>
		            </tr>
		        </table>
			</div>
				<div class="hr hr-18 dotted hr-double"></div>
			
<div class="row">
				<div class="clearfix">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn btn-info" type="button" ng-click="submitdata(model)">
							<i class="ace-icon fa fa-check bigger-110"></i>
							提交
						</button>
						&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset" ng-click="reset()">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											重置
										</button>
					</div>
				</div>
			</div>

			
		</form>
	</div>	
</div>
</div>

		<!--[if lte IE 8]>
		  <script src="../assets/js/excanvas.min.js"></script>
		<![endif]-->
		<script src="../assets/js/jquery-ui.custom.min.js"></script>
		<script src="../assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="../assets/js/chosen.jquery.min.js"></script>
		<script src="../assets/js/fuelux/fuelux.spinner.min.js"></script>
		<script src="../assets/js/date-time/bootstrap-datepicker.min.js"></script>
		<script src="../assets/js/date-time/bootstrap-timepicker.min.js"></script>
		<script src="../assets/js/date-time/moment.min.js"></script>
		<script src="../assets/js/date-time/daterangepicker.min.js"></script>
		<script src="../assets/js/date-time/bootstrap-datetimepicker.min.js"></script>
		<script src="../assets/js/bootstrap-colorpicker.min.js"></script>
		<script src="../assets/js/jquery.knob.min.js"></script>
		<script src="../assets/js/jquery.autosize.min.js"></script>
		<script src="../assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
		<script src="../assets/js/jquery.maskedinput.min.js"></script>
		<script src="../assets/js/bootstrap-tag.min.js"></script>
		<!-- ace scripts -->
		<script src="../assets/js/ace-elements.min.js"></script>
		<script src="../assets/js/ace.min.js"></script>
		<script src="../assets/js/bootstrap.min.js"></script>
		<script src="../assets/js/jquery.hotkeys.min.js"></script>
		<script src="../assets/js/bootstrap-wysiwyg.min.js"></script>

		<script type="text/javascript">

	$('#editor1').ace_wysiwyg({
		toolbar:
		[
			'font',
			'fontSize',
			{name:'bold', className:'btn-info'},
			{name:'italic', className:'btn-info'},
			{name:'strikethrough', className:'btn-info'},
			{name:'underline', className:'btn-info'},
			{name:'insertunorderedlist', className:'btn-success'},
			{name:'insertorderedlist', className:'btn-success'},
			{name:'outdent', className:'btn-purple'},
			{name:'indent', className:'btn-purple'},
			{name:'justifyleft', className:'btn-primary'},
			{name:'justifycenter', className:'btn-primary'},
			{name:'justifyright', className:'btn-primary'},
			{name:'justifyfull', className:'btn-inverse'},
			{name:'undo', className:'btn-grey'},
			{name:'redo', className:'btn-grey'}
		],
		
	}).prev().addClass('wysiwyg-style2');


	$('[data-toggle="buttons"] .btn').on('click', function(e){
		var target = $(this).find('input[type=radio]');
		var which = parseInt(target.val());
		var toolbar = $('#editor1').prev().get(0);
		if(which >= 1 && which <= 4) {
			toolbar.className = toolbar.className.replace(/wysiwyg\-style(1|2)/g , '');
			if(which == 1) $(toolbar).addClass('wysiwyg-style1');
			else if(which == 2) $(toolbar).addClass('wysiwyg-style2');
			if(which == 4) {
				$(toolbar).find('.btn-group > .btn').addClass('btn-white btn-round');
			} else $(toolbar).find('.btn-group > .btn-white').removeClass('btn-white btn-round');
		}
	});
</script>
