<div id="container">
 <div ng-include="templateUrls.headerPage"></div>
<div class="main_body"> 
<div class="col-md-2">
	
	<!--the left part-->
	<div class="left_menu">
		<div class="page_1_left_part_1" style="height: 170px;">
			<div class="left_part_lines">
				<div class="page_1_right_part_top_line" style="display: block;">
				<div class="top_line_1" style="height: 1px; width: 0px; display: block; background: rgb(33, 56, 56);"></div></div>
					<div class="page_1_right_part_middle_line" style="height: 79px; display: block;"></div>
					<div class="page_1_right_part_bottom_line" style="width: 28px; display: block;"></div>
					<div class="page_1_right_part_right_line" param="100" style="height: 100px; display: block;"></div>
			</div>
			<div class="page_1_right_part_index_1">
				<div class="page_1_class" id="menu1" style="color: rgb(76, 76, 76);" ng-click="menu_clike('menu1','项目分类')">项目分类</div>
					<div class="page_1_right_part_index_1_index" id="program" style="display: block;">
						<div id="menu2" class="page_1_class" style="color: rgb(132, 132, 132);" ng-click="menu_clike('menu2','公共建筑')">公共建筑</div>
						<div id="menu3" class="page_1_class" style="color: rgb(132, 132, 132);" ng-click="menu_clike('menu3','居住建筑')">居住建筑</div>
						<div id="menu4" class="page_1_class" style="color: rgb(132, 132, 132);" ng-click="menu_clike('menu4','私人定制')">私人定制</div>
						<div id="menu5" class="page_1_class" style="color: rgb(132, 132, 132);" ng-click="menu_clike('menu5','其他设计')">其他设计</div>
           
					</div>
			</div>
		</div>
	</div>

</div>

  <div class="col-md-9" style="margin-left:10px;min-height:500px;margin-bottom:20px;">
  
 <!--    <div id="div_imagelist" class="col-sm-12"></div>
 -->
      <ul id="imgmove" style="margin-top:0; margin-bottom:0;" ng-repeat="program in model.programs">
        <li>
        <div id="{{program.ProjectID}}" style="text-align: center;font-family: '微软雅黑';" data-toggle="modal" data-target="#buildModal">
          <img src="{{program.PrimaryUrl}}" /> 
              <span>{{program.ProjectName}}</span>
        </div>
            
        </li>
      </ul>
      <div style="clear:both" />
   
 </div>

<script>
        (function($){
            $(window).ready(function(){
                
                $("#div_imagelist").mCustomScrollbar({
                    setHeight:380,
                    theme:"minimal-dark"
                }); 
                
                $(".mCSB_container").attr("style","height:380px; margin-top:-20px;");
               
                 
                $("#buildModal .modal-body").mCustomScrollbar({
                    setHeight:140,setWidth:400,
                    theme:"minimal-dark"
                });  
                 
            });
        })(jQuery);
    </script>


</div>
</div>


   <div class="modal fade" ng-controller="buildController" id="buildModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width:850px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="panel panel-default pop_background" style="margin:10px;">
         <!--image begin-->
         <div style="margin-left:110px;height:310px; margin-top:10px;">
            <carousel  interval="myInterval" no-wrap="noWrapSlides" style="height: 300px; width:598px;">
                  <slide ng-repeat="slide in slides" active="slide.active">
               
                    <img ng-src="{{slide.image}}" style="margin:auto;vertical-align:middle; max-width:598px; height:300px;">
                  </slide>
            </carousel>
        </div>


        <!--image end-->
        <div style="margin-left:40px;font-family: '微软雅黑';">
            <div class="pop_title_font"><p>{{popmodel.program.ProjectName}}</p></div>
            <div class="building_line"></div>
            <div class="row">
             <table style="width:800px;">
                   
                    <td style="width:400px;">
                        <table class="page_content">
                            <tr ng-show="popmodel.program.ProjectPosition!==null">
                                <td > <div class="page_content_item">项目位置 : {{popmodel.program.ProjectPosition}}</div></td>
                            </tr>
                             <tr ng-show="popmodel.program.ProjectType!==null">
                                <td><div class="page_content_item">项目性质 : {{popmodel.program.ProjectType}}</div></td>
                            </tr>
                             <tr  ng-show="popmodel.program.AreaCovered!==null" >
                                <td><div class="page_content_item">占地面积 : {{popmodel.program.AreaCovered}}</div></td>
                            </tr>
                             <tr ng-show="popmodel.program.BuildingArea!==null">
                                <td><div class="page_content_item">建筑面积 : {{popmodel.program.BuildingArea}}</div></td>
                            </tr>
                             <tr ng-show="popmodel.program.VolumeRatio!==null">
                                <td><div class="page_content_item">容 积 率 : {{popmodel.program.VolumeRatio}}</div></td>
                            </tr>
                             <tr ng-show="popmodel.program.DesignTime!==null">
                                <td><div class="page_content_item">设计时间 : {{popmodel.program.DesignTime}}</div></td>
                            </tr>
                             <tr ng-show="popmodel.program.ProjectEntrust!==null">
                                <td><div class="page_content_item">项目备注 : {{popmodel.program.ProjectEntrust}}</div></td>
                            </tr>
                        </table>
                    </td>
                     <td style="width:400px;">
                      <div class="row mainbuilding_intro">
                            <span class="explain">设计简介：</span>
                            <div class="modal-body">
                            <div class="page_content_intro"  ng-bind-html="popmodel.program.DesignDes | htmlize">
                            </div>
                     
                            </div>
                    </div>
                    </td>
                   
                </table>
               <!--  <div class="col-sm-4">
                    <div >
                        <div ng-show="popmodel.program.ProjectPosition!==null" class="page_content_item">项目位置 : {{popmodel.program.ProjectPosition}}</div>
                        <div ng-show="popmodel.program.ProjectType!==null" class="page_content_item">项目性质 : {{popmodel.program.ProjectType}}</div>
                        <div ng-show="popmodel.program.AreaCovered!==null" class="page_content_item">占地面积 : {{popmodel.program.AreaCovered}}</div>
                        <div ng-show="popmodel.program.BuildingArea!==null" class="page_content_item">建筑面积 : {{popmodel.program.BuildingArea}}</div>
                        <div ng-show="popmodel.program.VolumeRatio!==null"class="page_content_item">容 积 率 : {{popmodel.program.VolumeRatio}}</div>
                        <div ng-show="popmodel.program.ProjectEntrust!==null" class="page_content_item">项目备注 : {{popmodel.program.ProjectEntrust}}</div>
                        <div ng-show="popmodel.program.DesignTime!==null"class="page_content_item">设计时间 : {{popmodel.program.DesignTime}}</div>
                    </div>
                </div>
                 <div class="col-sm-8">
                    <div class="row mainbuilding_intro">
                            <span class="explain">设计简介：</span>
                            <div class="modal-body">
                            <div class="page_content_intro" ng-bind-html="popmodel.program.DesignDes | htmlize">
                            </div>
                     
                            </div>
                    </div>
                </div> -->
            </div>
           
        </div>
     </div>    
      
      
    </div>
  </div>
</div>
<div ng-include="templateUrls.footerPage"></div>